/** @format */
.siderBtnsConainer {
  position: relative;
  width: 10px;
  margin-left: auto;
  margin-top: -30px;
  margin-right: 62px;
}
.sc-gJhJTp {
  border: none !important;
  box-shadow: none !important;
}
.discoverBg {
  padding: 10rem 0 8rem 0;
  background: url(../public/images/HeroBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; /* Add this if not present */
}
